# Compiled files
/target/
utils/target/

# Dependency directories
Cargo.lock
Cargo.toml.orig
Cargo.toml.bkp

# Generated documentation
/doc/

# Build artifacts
*.rs.bk

# Editor-specific files
.idea/
.DS_Store
.obsidian/
./continuous_integration/.env
# Mac OS
.DS_Store

megalinter-reports/
